*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, sans-serif;
}
.information .containerr {
    margin: 100px 0;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.information .containerr .section-one {
    flex-basis: 40%;
}
.information .containerr .info h1 {
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: 20px;
}
.information .containerr .info form  {
    display: flex;
    flex-direction: column;
}
.information .containerr .info form label {
    margin: 20px 0 15px;
    color: gray;
}
.information .containerr .info form input {
    width: 400px;
    padding: 13px;
    border: none;
    background-color: #F5F5F5;
}
.information .containerr .info form input:focus {
    outline: none;
}
.information .containerr .info form .checkbox {
    display: flex;
    align-items: center;
}
.information .containerr .info form .checkbox input {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.information .containerr .section-two {
    flex-basis: 40%;
    margin-left: 75px;
}
.information .containerr .info-card {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.information .containerr .info-card .box {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 30px;
}
.information .containerr .info-card .box .img {
    display: flex;
    align-items: center;
}
.information .containerr .info-card .box .img img{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
.information .containerr .section-two .info-card .cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.information .containerr .section-two .info-card .cost-border {
    border: none;
}
.information .containerr .info-card .forms {
    display: flex;
    justify-content: space-between;
}
.information .containerr .info-card .forms form div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.information .containerr .info-card .forms form input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.information .containerr .info-card .forms form div label {
    width: 100%;
}
.information .containerr .info-card .forms .card-img img  {
    width: 175px;
}
.information .containerr .section-two .submit {
    display: flex;
    flex-wrap: wrap;
}
.information .containerr .section-two .submit form [type="text"] {
    padding: 15px 50px 15px 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid gray;
}
.information .containerr .section-two .submit form [type="text"]:focus {
    outline: none;
}
.information .containerr .section-two .submit form button {
    padding: 16px;
    font-size: 16px;
    border-radius: 3px;
    width: 170px;
    border: none;
    color: white;
    background-color: #DB4444;
    margin-top: 20px;
}
.information .containerr .section-two .submit form [type="submit"] {
    padding: 16px;
    width: 170px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: #DB4444;
    color: white;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .information .containerr .info form input {
        width: auto;
    }
    .information .containerr .section-two {
        flex-basis: 50%;
    }
    .information .containerr .info-card {
        width: 90%;
    }
}
@media (max-width: 780px) {
    .information .containerr .section-one {
        flex-basis: 75%;
        text-align: center;
        margin-bottom: 30px;
    }
    .information .containerr .section-one h1 {
        margin-bottom: 20px;
        letter-spacing: 1.5px;
    }
    .information .containerr .info form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .information .containerr .info form input  {
        width: 100%;
    }
    .information .containerr .info form .checkbox {
        font-size: 13px;
    }
    .information .containerr .section-two {
        flex-basis: 75%;
        margin: 0;
    }
    .information .containerr .info-card {
        width: 100%;
    }
}
@media (max-width: 489px) {
    .information .containerr .section-two .submit form button {
        font-size: 13px;
        width: 125px;
    }
    .information .containerr .section-two .submit form [type="submit"] {
        font-size: 13px;
        width: 125px;
    }
}