*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, sans-serif;
}
.sign-in {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.sign-in .image {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in .image img {
    width: calc(100% + 200px);
}

.sign-in .content h2 {
    font-size: 35px;
    margin-bottom: 18px;
    font-weight: normal;
}
.sign-in .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 40px;
}

.sign-in .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
.sign-in .form .input {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}
.sign-in .form .input:focus {
    outline: none;
}
.sign-in .form .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-in .form .links [type="submit"] {
    width: 100px;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #DB4444;
    transition: 0.3s;
}
.sign-in .form [type="submit"]:hover {
    background-color: #c12f3d;
}

.sign-in .content  a {
    text-decoration: none;
    color: #DB4444;
    
}

@media (max-width: 1023px) {
    .sign-in .image {
        display: none;
    }
    .sign-in .form {
        flex-basis: 100%;
    }
}