/* Start Global Rules */
:root {
    --black: #000;
    --active: #14142B;
    --body: #4E4B66;
    --label: #6E7191;
    --place-holder: #A0A3BD;
    --line: #D9DBE9;
    --input: #EFF0F6;
    --background: #F7F7FC;
    --off-white: #FCFCFC;
    --primary: #5F2EEA;
    --second: #1CC8EE;
    --error: #ED2E7E;
    --success: #00BA88;
    --warning: #946200;
    --warning-two: #FFD789;
    --grad-primary: #5F2EEA;
    --grad-primary-two: #BCA4FF;
    --grad-second: #5F2EEA;
    --grad-second-two: #82E9FF;
    --grad-accend: #ED2E7E;
    --grad-accend-two: #FFD789;
    --white: #fff;
    --primary-2: #504242;
    --text: #D37643;
    --button: #D37643;
    --white-red: #DB4444;
    --green-btn: #47B486;
    --hover-btn: #EB5757;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: system-ui, sans-serif;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #373a3b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #373a3bce;
}
*:focus {
    box-shadow: none !important;
}

.containerr {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Small */
@media (max-width: 768px) {
    .containerr {
        width: 750px;
    }
}

/* Medium */
@media (max-width: 992px) {
    .containerr {
        width: 970px;
    }
}

/* Large */
@media (max-width: 1200px) {
    .containerr {
        width: 1170px;
    }
}

input:focus {
    outline: none !important;
    border: none !important;
}

/* End Global Rules */

/* navbar style */
.unbox-shadow:focus {
    box-shadow: none;
}

nav {
    margin-bottom: 20px;
}

.sale-box {
    background-color: var(--black);
    color: var(--white);
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
    width: 100%;
}
@media (max-width:500px) {
    body > nav > div.sale-box.text-center.text-capitalize.row.d-none.d-lg-flex > div > p,
    body > nav > div.sale-box.text-center.text-capitalize.row.d-none.d-lg-flex > div > u,
    body > nav > div.sale-box.text-center.text-capitalize.row.d-none.d-lg-flex > select {
        font-size: 12px;
    }
}
.row {
    --bs-gutter-x: 0 !important;
}

.nav-phonee {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

@media (max-width:991px) {
    .nav-phonee {
        margin: 0 !important;
    }
}

.form-select {
    width: 10vw !important;
    color: var(--white) !important;
}

.form-select option {
    background-color: var(--black);
    text-align: center;
}

.form-select:active {
    border: 0;
}

.sale-box div u {
    cursor: pointer;
}


.collapse form {
    background: #f5f5f5;
}

.search-bar {
    width: 20vw;
    height: 50px;
    padding: .375rem 0 .75rem .375rem !important;
}

.btn {
    padding: .375rem .75rem .75rem 0 !important;
}

.navbar-toggler {
    font-size: 20px;
}

.border-bottom {
    border-bottom: 1px solid #eee !important;
}

nav h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0 !important;
    color: #000;
}

nav .navbar-nav {
    margin-top: 0 !important;
}

nav .navbar-nav li {
    position: relative;
}

nav .navbar-nav li::before,
nav .navbar-nav .active::before {
    content: '';
    height: 3px;
    position: absolute;
    width: 0;
    background-color: #555;
    bottom: -10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    left: 0;
    overflow: hidden;
}

nav .navbar-nav li:hover::before,
nav .navbar-nav .active::before {
    width: 100%;
}

nav .navbar-nav .nav-link {
    font-size: 17px !important;
    color: #000;
    opacity: .9;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


nav .navbar-nav .nav-link:hover {
    opacity: 1;

}

#toggle>a {
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    cursor: pointer;
}

@media (max-width:991px) {
    #toggle>a {
        display: none;
    }
}

.material-symbols-outlined {
    font-size: calc(1.3rem + .6vw) !important;
}
/* End navbar style */

/* Start swiper */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End swiper */
/* Start Header */
.parent-header .containerr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.side-navv {
    width: 25%;
    border-right: 1px solid #ddd;
    padding: 10px;
    margin-right: 15px;
}

.side-navv ul {
    list-style-type: none;
}

.side-navv ul li {
    margin-bottom: 12px;
}

.side-navv ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.side-navv ul li a:hover i {
    transform: translate(10px, -50%);
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    -o-transform: translate(10px, -50%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.side-navv ul li a i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.slide {
    width: 70%;
    height: 35vh;
}

swiper-slide {
    background: #000 !important;
}

.slide-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.slide-imgs .header-text {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    margin-left: 10%;
}

.slide-imgs .header-text .apple {
    display: flex;
    align-items: center;
    justify-content: left;
}

.slide-imgs .header-text .apple .apple-icon {
    font-size: 35px;
    color: #fff;
    display: block;
    margin-right: 15px;
}

.slide-imgs .header-text .apple p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0 !important;
}

.slide-imgs .header-text .discount-header {
    color: #fff;
    line-height: 1.3;
    text-align: left;
}

.slide-imgs .header-text a {
    color: #fff;
    text-align: left;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.slide-imgs .header-text a i {
    margin-left: 6px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.slide-imgs .header-text a:hover i {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.slide-imgs .iphone-img {
    width: 55%;
}

.slide-imgs .iphone-img img {
    width: 100%;
}

@media (max-width: 991px) {
    .side-navv {
        width: 40%;
    }

    .slide {
        width: 60%;
    }

    .slide-imgs .header-text .apple .apple-icon {
        font-size: 25px;
    }

    .slide-imgs .header-text .apple p {
        font-size: 15px;
    }

    .slide-imgs .header-text .discount-header {
        font-size: 25px;
    }

    .slide-imgs .header-text a {
        font-size: 13px;
    }

    .slide-imgs .iphone-img {
        width: 70%;
    }
}

@media (max-width: 668px) {
    .slide-imgs .header-text .apple p {
        font-size: 12px;
    }

    .slide-imgs .header-text .discount-header {
        font-size: 20px;
    }

    .slide-imgs .header-text a {
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .side-navv {
        display: none;
    }

    .slide {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .slide-imgs .iphone-img {
        display: none;
    }

    .slide-imgs {
        width: 100%;
    }

    .slide-imgs .header-text {
        width: 100%;
        margin-left: 0;
    }

    .slide-imgs .header-text .apple {
        justify-content: center !important;
    }

    .slide-imgs .header-text .apple .apple-icon {
        font-size: 30px;
    }

    .slide-imgs .header-text .apple p {
        font-size: 15px;
    }

    .slide-imgs .header-text .discount-header {
        font-size: 25px;
        text-align: center;
    }

    .slide-imgs .header-text a {
        font-size: 14px;
        text-align: center;
    }

    .slide-imgs .header-text .apple {
        margin-bottom: 5px;
    }
}

/* End Header */

/* Start Today`s */
.today-parent {
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e4e4;
}

.today-parent .containerr {
    position: relative;
    width: 95%;
}

.today-name {
    color: var(--white-red);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.today-name::before {
    content: '';
    width: 15px;
    display: flex;
    border-radius: 4px;
    height: 30px;
    background: var(--white-red);
    margin-right: 10px;
}

.today-parent .containerr .watch {
    display: flex;
    align-items: center;
}

.today-parent .containerr .watch h2 {
    margin-right: 5%;
    font-weight: 600;
}

.today-parent .containerr .watch h5 {
    display: flex;
}

.today-parent .containerr .watch h5 p {
    margin-right: 20px;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
}

.today-parent .containerr .watch h5 p span {
    display: block;
    font-weight: 500;
    font-size: 20px;
}

.today-parent .containerr .arrow {
    position: absolute;
    top: 10%;
    right: 5%;
}

.today-parent .containerr .arrow i {
    font-size: 19px;
    margin-right: 10px;
    cursor: pointer;
}

.today-parent .containerr .cardss {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.today-parent .containerr .cardss .card {
    position: relative;
    border: none;
    width: 25%;
    background: #f7f7f7;
    padding: 10px;
    margin-right: 15px;
    min-width: 250px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

.today-parent .containerr .cardss .card .present {
    width: fit-content;
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 4px 17px;
    background: var(--white-red);
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.today-parent .containerr .cardss .card .present:hover {
    background: var(--hover-btn);
}

.today-parent .containerr .cardss .card .love-box {
    position: absolute;
    right: 5%;
    top: 3%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.today-parent .containerr .cardss .card .love-box i {
    margin-bottom: 10px;
    font-size: 20px;
    background: white;
}

.opaacity {
    opacity: .5 !important;
}

.today-parent .containerr .cardss .card .card-img-top {
    width: 80%;
    align-self: center;
}

.today-parent .containerr .cardss .card .add-cart {
    background: black;
    color: white;
    position: absolute;
    top: 51%;
    right: 0;
    left: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.today-parent .containerr .cardss .card:hover .add-cart {
    height: fit-content;
    padding: 10px;
}

.today-parent .containerr .cardss .card .card-body .titlee {
    font-size: 20px;
}

.today-parent .containerr .cardss .card .card-body .price .new {
    color: var(--white-red);
    font-size: 17px;
    font-weight: 600;
    margin-right: 5px;
}

.today-parent .containerr .cardss .card .card-body .price .old {
    color: grey;
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 600;
}

.today-parent .containerr .cardss .card .card-body .ratee .rate-num {
    color: grey;
    font-weight: 600;
}

.today-parent .containerr .view-products {
    display: block;
    margin: auto;
    background: var(--white-red);
    padding: 10px 15px !important;
    color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    margin-bottom: 20px;
    margin-top: 20px;
    width: fit-content;
}

.today-parent .containerr .view-products:hover {
    background: var(--hover-btn);
}

@media (max-width: 550px) {
    .today-parent .watch {
        display: none;
    }
}

/* End Today`s */



/* Start category */
.category {
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e4e4;
    text-transform: capitalize;
}

.category .containerr {
    position: relative;
    width: 95%;
    padding: 0px 5px 20px;
}

.today-name {
    color: var(--white-red);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.today-name::before {
    content: '';
    width: 15px;
    display: flex;
    border-radius: 4px;
    height: 30px;
    background: var(--white-red);
    margin-right: 10px;
}

.category .containerr h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
}

@media (max-width:400px) {
    .category .containerr h2 {
        font-size: 22px;
    }
}

.category .containerr .arrow {
    position: absolute;
    top: 10%;
    right: 5%;
}

.category .containerr .arrow i {
    font-size: 19px;
    margin-right: 10px;
    cursor: pointer;
}

.category .containerr .cardss {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.category .containerr .cardss .card {
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    margin-right: 15px;
    min-width: 250px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    justify-content: center;
    height: 150px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.category .containerr .cardss .card:hover {
    color: white;
    background: var(--white-red);
}

.category .containerr .cardss .card span {
    font-size: 50px !important;
}

.category .containerr .cardss .card p {
    margin-bottom: 0 !important;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 500;
}

/* End category */
/*  Start ThisMonth */
.monthhh {
    margin-top: 50px !important;
}

.wrapper .cardss {
    all: unset;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width:767px) {
    .wrapper .cardss {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }
}
@media (max-width:425px) {
    body > div.today-parent.monthhh > div > div.view-parent > div > h2 {
        font-size: 20px;
    }
}

.wrapper .cardss .card {
    width: 100% !important;
}

.monthhh .wrapper .view-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.monthhh>div>div.view-parent>a {
    background: white;
    border-radius: 5px;
    padding: 7px 26px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background: var(--white-red);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.monthhh>div>div.view-parent>a:hover {
    background: var(--hover-btn);
}

.monthhh .containerr .cardss .card .card-img-top {
    width: 60% !important;
}

.monthhh .containerr .cardss .card .card-body .ratee .rate-num {
    color: grey;
    font-weight: 600;
}

/*  End ThisMonth */

/* style enhance experience */
.enhance {
    display: flex;
    width: 75vw;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    padding: 20px;
    background: rgb(0, 0, 0);
    color: var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.enhance-text>p {
    color: var(--success);
}

.dec-clock {
    display: flex;
    justify-content: flex-start;
    padding: 40px 0 40px;
}

.circle-white {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    color: var(--black);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background);
}

.circle-white span {
    font-weight: 800;
    font-size: 25px;
}

.circle-white p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px;
    font-weight: 700;
}

.enhance button {
    color: var(--white);
    background-color: var(--green-btn);
    padding: 20px 40px;
    border-radius: 10px;
    border: 0;
    font-weight: 600;
}


body>section.enhance>img {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5494572829131652) 14%, rgba(0, 0, 0, 1) 77%);
    background-size: 71%;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 40%;
}

@media (max-width: 991px) {
    .enhance {
        width: 75vw;
        padding: 20px;
    }

    .enhance-text {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "tex tex"
            "title title"
            "clock button";
    }

    .enhance-text p {
        grid-area: tex;
    }

    .enhance-text h1 {
        grid-area: title;
    }

    .enhance-text .dec-clock {
        grid-area: clock;
        padding: 20px;
        margin: auto;
    }

    .enhance-text button {
        grid-area: button;
        width: fit-content;
        padding: 20px;
        margin: auto;
    }

    .enhance img {
        display: none;
    }
}

@media (max-width: 860px) {
    .enhance-text {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 576px) {
    .dec-clock {
        display: none;
    }

    .enhance-text button {
        margin-top: 20px;
    }
}

/* end enhance style */

/* Start OurProducts */
.OurProducts {
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}
.OurProducts .present {
    background: var(--success) !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.OurProducts .present:hover {
    background: var(--green-btn) !important;
}
body>div.today-parent.OurProducts>div>div.watch {
    margin-bottom: 15px;
}

/* End OurProducts */

/* style arrival */
.arrival {
    text-transform: capitalize;
    border-bottom: 1px solid #e5e4e4;
    margin: 50px auto;
    padding-bottom: 15px;
}

.arrival p {
    margin-bottom: 10px;
}

.arrival>span {
    border: 8px solid var(--hover-btn);
    border-radius: 3px;
}

.arrival>p {
    color: var(--hover-btn);
    display: inline-block;
    margin: 30px 20px;
}

.arrival .containerr {
    width: 100%;
}

.arrival-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    color: var(--white);
    width: 80%;
    margin: auto;
}

.arrival .containerr .arrival-box>div {
    height: 100%;
}

.bg {
    background-color: var(--black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

body>section.arrival>div>div>div.two>div.btm {
    display: flex;
    width: 100%;
    height: 49%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.playstation {
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: end;
}

body>section.arrival>div>div>div.one>div>img {
    width: 90%;
    height: 80%;
}

.plays-text {
    position: absolute;
    bottom: 5% !important;
    left: 5% !important;
}

.w-collection {
    display: flex;
    position: relative;
    justify-content: end;
    background-color: #0c0b0b;
    border-radius: 5px;
    height: 284px;
}


.collection-text {
    position: absolute;
    bottom: 5% !important;
    left: 5% !important;
}

.speakers {
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(19, 18, 18, 1) 0%, rgba(41, 43, 43, 1) 100%);
    display: flex;
    justify-content: center;
    padding: 10px;
    justify-content: end;
}

body>section.arrival>div>div>div.two>div.btm>div.perfume.bg>img,
body>section.arrival>div>div>div.two>div.btm>div.speakers.bg>img {
    overflow: hidden;
}

.speakers-text,
.perfume-text {
    position: absolute;
    bottom: 5% !important;
    left: 5% !important;
}

body>section.arrival>div>div>div.two>div.btm>div.speakers.bg {
    width: 48%;
    height: 100%;
}

body>section.arrival>div>div>div.two>div.btm>div.perfume.bg {
    width: 48%;
    height: 100%;
}

.perfume {
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(19, 18, 18, 1) 0%, rgba(71, 80, 82, 1) 100%);
    display: flex;
    justify-content: center;
    padding: 10px;
    justify-content: end;
}

.arrival-box a {
    background-color: transparent;
    border: 0;
    color: var(--white);
    position: relative;
    text-decoration: none;
}

.arrival-box a::before {
    content: '';
    height: 3px;
    position: absolute;
    width: 10px;
    background-color: var(--white);
    bottom: -10px;
    transition: 0.5s;
}

.arrival-box a:hover::before {
    width: 100%;
}

@media (max-width:768px) {
    .arrival-box {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 10px;
    }

    body>section.arrival>div>div>div.two>div.btm {
        flex-direction: column;
    }

    .arrival>div>div>div.two>div.btm>div.speakers.bg,
    .arrival>div>div>div.two>div.btm>div.perfume.bg {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .arrival>div>div>div.two>div.btm>div.speakers.bg img,
    .arrival>div>div>div.two>div.btm>div.perfume.bg img {
        margin-right: 5%;
    }

    body>section.arrival>div>div>div.one>div>img {
        width: 70%;
    }
}

@media (max-width:500px) {

    .arrival>div>div>div.two div.btm .speakers,
    .arrival>div>div>div.two div.btm .perfume,
    body>section.arrival>div>div>div.one>div {
        justify-content: center !important;
    }
}

/* style arrival end */
/* Start Features */
.features {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    height: 25vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}
.features .containerr {
    width: 85%;
}
.features .containerr .boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.features .containerr .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.features .containerr .boxes .box i {
    color: white;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
    border: 5px solid grey;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}
.features .containerr .boxes .box h3 {
    font-size: 25px;
    margin-bottom: 5px;
}
.features .containerr .boxes .box p {
    font-size: 17px;
}
.features > i {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 23px;
    animation: change 1s infinite;
    -webkit-animation: change 1s infinite;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}
@keyframes change {
    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
}
@media (max-width: 768px) {
    .features {
        height: max-content;
    }
    .features .containerr .boxes {
    flex-direction: column;
    }
.features .containerr .boxes .box h3 {
    font-size: 20px;
    }
    .features .containerr .boxes .box p {
        font-size: 14px;
    }
}
/* End Features */
/* Start Footer */
.footerr {
    background: #000;
    height: 35vh;
    align-content: center;
    color: #fff;
}
.footerr .containerr {
    height: 100%;
    align-content: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footerr .containerr .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
    gap: 20px;
    border-bottom: 1px solid #444;
}
.footerr .containerr .boxes p {
    font-weight: 500;
    letter-spacing: 1.5px;
}
body > div.footerr > div > div > div > a {
    color:var(--white);
    text-decoration: none;
}
body > div.footerr > div > div > div:nth-child(1) {
    justify-self: center;
}
body > div.footerr > div > div > div:nth-child(1) > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
body > div.footerr > div > div > div:nth-child(1) > div > input[type=email] {
    color: white;
    background: #000;
    width: 70%;
    height: 40px;
    padding: 10px;
    border: 1px solid #fff !important;
    border-right: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
body > div.footerr > div > div > div:nth-child(1) > div > i {
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffffbe;
}
body > div.footerr > div > div > div:nth-child(4) > div {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}
body > div.footerr > div > div > div:nth-child(4) > div > a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-right: 15px;
}
body > div.footerr > div > p {
    font-size: 17px;
    color: #797979;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px !important;
}
@media (max-width:768px) {
.footerr .containerr {
    width: 100%;
}
.footerr {
    height: max-content;
}
    .footerr .containerr .boxes {
        border: none !important;
    }
    .footerr .containerr .boxes {
        text-align: center !important;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 10px;
    }
    .footerr .containerr .boxes .box {
        margin-bottom: 10px;
    }
    body > div.footerr > div > div > div:nth-child(4) { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px !important;
    }
    body > div.footerr > div > div > div:nth-child(4) > img {
    width: 30%;
    align-self: center;
    }
    body > div.footerr > div > p {
    font-size: 14px;
    width: 100%;
    text-align: center;
    }
}
/* End Footer */
/* Start Error Page */
.contentt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}
body > div.contentt > h1 {
    font-size: 75px;
}
body > div.contentt > a {
    padding: 15px;
    background: var(--white-red);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
body > div.contentt > a:hover {
    background: var(--hover-btn);
}
@media (max-width:600px) {
    body > div.contentt > h1 {
        font-size: 50px;
    }
    body > div.contentt > p {
        font-size: 15px;
    }
}
/* End Error Page */